.gameArea {
  position: relative;
  margin: 50px auto;
  border: 4px solid #000;
}

.snakeDot {
  position: absolute;
  width: 2%;
  height: 2%;
  border: 1px solid #fff;
  z-index: 2;
}

.snakeFood {
  position: absolute;
  width: 2%;
  height: 2%;
  border: 1px solid #fff;
  z-index: 1;
}

.result{
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: .7;
}